
.entry-content .dh-txtenhance-dropcaps {
    font-size: 10.5em;
    margin-right: 25%;
    font-style: normal;
    font-weight: 700;
    float: left;
    margin-bottom: 50px;
    margin-top: 20px;
}

